# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [39]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])

    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    records = []
    for card in soup.select("div.job-search-card"):
        title = card.select("h3", recursive=False)[0].get_text().strip()
        company = card.select("h4", recursive=False)[0].get_text().strip()
        location = card.select("span.job-search-card__location")[0].get_text().strip()
        titles.append(title)
        companies.append(company)
        locations.append(location)

        records.append({
            "Title": title,
            "Company": company,
            "Location": location
        })
    
    # Return dataframe
    return pd.DataFrame(records, columns=["Title", "Company", "Location"])

In [40]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis')
results

,Title,Company,Location
0,Research Data Analyst,UCLA,"Los Angeles, CA"
1,Data Analyst,Petroplan,"Houston, TX"
2,Data Scientist,The Value Maximizer,"New Jersey, United States"
3,Data Scientist,The Value Maximizer,"Pennsylvania, United States"
4,Business Analyst,Nestlé,"Solon, OH"
5,Data Science Intern (Winter or Summer 2026),Notion,"New York, NY"
6,Trading Analyst,Cantor Fitzgerald,New York City Metropolitan Area
7,Data Analyst I,City National Bank,"Los Angeles, CA"
8,Data Science Intern (Winter or Summer 2026),Notion,"San Francisco, CA"
9,Data Engineer - Entry Level,InterWorks,"Portland, OR"
10,Senior Data Analyst - Remote,Experian,United States
11,Data Science Co-Op (NLP & GenAI),Bose Corporation,"Framingham, MA"
12,Jr Data Scientist/Analyst (Power BI),Crew,"Richfield, MN"
13,Data Analytics Engineer Co-op,Bose Corporation,"Framingham, MA"
14,Data Analyst (Business Intelligence),Philips,"Malvern, PA"
15,Data Engineer - Entry Level,InterWorks,"Tulsa, OK"
16,Data Visualization Specialist,A3T (Agil3 Technology Solutions),"Washington, DC"
17,Data Engineer - Entry Level,InterWorks,"Oklahoma City, OK"
18,PowerBI/PowerApp Engineer,Toyota North America,"Plano, TX"
19,Data Analyst,Largeton Group,"Richmond, VA"
20,AI Engineer,LinkedIn,"Sunnyvale, CA"
21,Data Analyst Lead,Datafied,"Anaheim, CA"
22,Data Scientist,MLabs,"New York, NY"
23,Data Science Graduate,Hewlett Packard Enterprise,"Spring, TX"
24,Data Engineer,Toyota North America,"Plano, TX"
25,"Associate, CPS&O",Netflix,"Los Angeles, CA"
26,"Business Data Scientist, Machine Learning",Google,"San Francisco, CA"
27,Data Analyst,Talent Groups,"Massachusetts, United States"
28,Football Operations Assistant,Dallas Bulls,"Dallas, TX"
29,Business Operations Analyst (Remote),DataBank,"Dallas, TX"
30,Data Analyst (Excel and Power BI) - Hybrid - B...,ideaHelix,San Francisco Bay Area
31,Data Analyst I,City National Bank,"Newark, DE"
32,Data Analytics and Reporting,U.S. Bank,"Minneapolis, MN"
33,Data Analyst,Prime 8 Consulting,United States
34,"Business Data Scientist, Machine Learning",Google,"Washington, DC"
35,Data Analyst,Shaker Recruitment Marketing,"Oak Park, IL"
36,Data Analyst (Remote),Desire Home Care,United States
37,Data Engineer Co-Op,Bose Corporation,"Framingham, MA"
38,Business Analyst,Toyota North America,"Plano, TX"
39,Data Analyst,World Wide Technology,"California, United States"
40,Business Data Analyst,Digital Prospectors,Greater Boston
41,Data Analyst,World Wide Technology,"Washington, United States"
42,Data Analyst,World Wide Technology,"New York, United States"
43,Data Visualization Developer Analyst,H&R Block,"Missouri, United States"
44,Data Analyst,World Wide Technology,"New Jersey, United States"
45,Data Analyst,Air Apps,"San Francisco, CA"
46,"Data Science Intern, Decisions - Product (Summ...",Lyft,"San Francisco County, CA"
47,Reporting Analyst,Stefanini North America and APAC,"Newark, NJ"
48,Business Intelligence Analyst,United Wheels Inc.,"Miamisburg, OH"
49,Data Analyst,World Wide Technology,"Texas, United States"
50,Analista de Datos Estadísticos,trabajito,"Santa Cruz, CA"
51,Data Analyst,World Wide Technology,"Florida, United States"
52,Data Scientist (Entry Level),ICF,"Reston, VA"
53,Data Analyst,World Wide Technology,"Illinois, United States"
54,Sr. Data Analyst,Verse Medical,"New York, NY"
55,Data Scientist,Visa,"Foster City, CA"
56,Data Analytics Consultant Intern,Allstate,United States
57,Data Analyst,World Wide Technology,"Georgia, United States"
58,Data Analyst,World Wide Technology,"Ohio, United States"
59,Data Analyst,World Wide Technology,"Maryland, United States"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [45]:
def scrape_linkedin_job_search(keywords, num_pages):
    records = []
    for page in range(num_pages):
        # Define the base url to be scraped.
        # All uppercase variable name signifies this is a constant and its value should never unchange
        try:
            BASE_URL = 'https://www.linkedin.com/jobs/search/?'
            
            # Assemble the full url with parameters
            scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&start=", str(page*25)])
        
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
            soup = BeautifulSoup(page.text, 'html.parser')
        
            # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
            # Then in each job card, extract the job title, company, and location data.
            titles = []
            companies = []
            locations = []
            for card in soup.select("div.job-search-card"):
                title = card.select("h3", recursive=False)[0].get_text().strip()
                company = card.select("h4", recursive=False)[0].get_text().strip()
                location = card.select("span.job-search-card__location")[0].get_text().strip()
                titles.append(title)
                companies.append(company)
                locations.append(location)
        
                records.append({
                    "Title": title,
                    "Company": company,
                    "Location": location
                })
        except:
            break
            
        
        # Return dataframe
    return pd.DataFrame(records, columns=["Title", "Company", "Location"])

In [46]:
results = scrape_linkedin_job_search('data%20analysis', 5)
results

,Title,Company,Location
0,Research Data Analyst,UCLA,"Los Angeles, CA"
1,Data Analyst,Petroplan,"Houston, TX"
2,Data Scientist,The Value Maximizer,"New Jersey, United States"
3,Data Scientist,The Value Maximizer,"Pennsylvania, United States"
4,Data Science Intern (Winter or Summer 2026),Notion,"New York, NY"
...,...,...,...
295,Sr. Data Analyst,Verse Medical,"New York, NY"
296,Data Scientist,Visa,"Foster City, CA"
297,Data Analyst,World Wide Technology,"Georgia, United States"
298,Data Analyst,World Wide Technology,"Maryland, United States"
299,Data Analytics Consultant Intern,Allstate,United States

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [47]:
def scrape_linkedin_job_search(keywords, num_pages, country):
    records = []
    for page in range(num_pages):
        # Define the base url to be scraped.
        # All uppercase variable name signifies this is a constant and its value should never unchange
        try:
            BASE_URL = 'https://www.linkedin.com/jobs/search/?'
            
            # Assemble the full url with parameters
            scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&location=", country, "&start=", str(page*25)])
        
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
            soup = BeautifulSoup(page.text, 'html.parser')
        
            # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
            # Then in each job card, extract the job title, company, and location data.
            titles = []
            companies = []
            locations = []
            for card in soup.select("div.job-search-card"):
                title = card.select("h3", recursive=False)[0].get_text().strip()
                company = card.select("h4", recursive=False)[0].get_text().strip()
                location = card.select("span.job-search-card__location")[0].get_text().strip()
                titles.append(title)
                companies.append(company)
                locations.append(location)
        
                records.append({
                    "Title": title,
                    "Company": company,
                    "Location": location
                })
        except:
            break
            
        
        # Return dataframe
    return pd.DataFrame(records, columns=["Title", "Company", "Location"])

In [50]:
results = scrape_linkedin_job_search('data%20analysis', 5, "Germany")
results

,Title,Company,Location
0,Equity Research,Institute of Finance and Economics (IFE),Germany
1,Data Analyst,Happy Mammoth,"Berlin, Berlin, Germany"
2,"Product Analyst - (Logistics, Customer)",Delivery Hero,"Berlin, Berlin, Germany"
3,Data Analyst (m/f/d),TOPdesk,"Kaiserslautern, Rhineland-Palatinate, Germany"
4,Strategic researcher (m/f/d),Omio,"Berlin, Berlin, Germany"
...,...,...,...
275,Director of Artificial Intelligence,AI Futures,Cologne Bonn Region
276,Business Analyst (m/w/d),"Swell, Inc.","Bad Schwalbach, Hesse, Germany"
277,(Junior) Project & Data Analyst - LSCM (m/f/d),Bridgestone EMEA,"Frankfurt am Main, Hesse, Germany"
278,Investment Analyst | Single Family Office,THRONSBERG | Private Capital Recruitment,"Hamburg, Germany"
279,Junior Market Research Consultant (m/f/d),Factworks,"Berlin, Berlin, Germany"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [52]:
def scrape_linkedin_job_search(keywords, num_pages, country, num_days):
    records = []
    for page in range(num_pages):
        # Define the base url to be scraped.
        # All uppercase variable name signifies this is a constant and its value should never unchange
        try:
            BASE_URL = 'https://www.linkedin.com/jobs/search/?'
            
            # Assemble the full url with parameters
            scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&location=", country, "&f_TPR=r", str(num_days*86400), "&start=", str(page*25)])
        
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
            soup = BeautifulSoup(page.text, 'html.parser')
        
            # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
            # Then in each job card, extract the job title, company, and location data.
            titles = []
            companies = []
            locations = []
            for card in soup.select("div.job-search-card"):
                title = card.select("h3", recursive=False)[0].get_text().strip()
                company = card.select("h4", recursive=False)[0].get_text().strip()
                location = card.select("span.job-search-card__location")[0].get_text().strip()
                titles.append(title)
                companies.append(company)
                locations.append(location)
        
                records.append({
                    "Title": title,
                    "Company": company,
                    "Location": location
                })
        except:
            break
            
        
        # Return dataframe
    return pd.DataFrame(records, columns=["Title", "Company", "Location"])

In [53]:
results = scrape_linkedin_job_search('data%20analysis', 2, "Germany", 2)
results

,Title,Company,Location
0,Equity Research,Institute of Finance and Economics (IFE),Germany
1,"Product Analyst - (Logistics, Customer)",Delivery Hero,"Berlin, Berlin, Germany"
2,Strategic researcher (m/f/d),Omio,"Berlin, Berlin, Germany"
3,Equity Research Intern,Institute of Finance and Economics (IFE),Germany
4,Marketing Data Analyst (m/f/d),Pflegia,"Berlin, Berlin, Germany"
...,...,...,...
109,AI Innovator,CEF.AI,"Munich, Bavaria, Germany"
110,Praktikum Strategy und M&A (m/w/d),Flip,"Stuttgart, Baden-Württemberg, Germany"
111,Prozessingenieur (all gender),ALTEN Germany,Greater Munich Metropolitan Area
112,Senior Research Engineer,DeepRec.ai,Greater Munich Metropolitan Area
113,Artificial Intelligence Engineer,X4 Technology,Greater Munich Metropolitan Area

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.

In [119]:
def scrape_linkedin_job_search(keywords, num_pages, country, num_days):
    records = []
    for page in range(num_pages):
        # Define the base url to be scraped.
        # All uppercase variable name signifies this is a constant and its value should never unchange
        try:
            BASE_URL = 'https://www.linkedin.com/jobs/search/?'
            
            # Assemble the full url with parameters
            scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&location=", country, "&f_TPR=r", str(num_days*86400), "&start=", str(page*25)])
        
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
            soup = BeautifulSoup(page.text, 'html.parser')
        
            # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
            # Then in each job card, extract the job title, company, and location data.
            titles = []
            companies = []
            locations = []
            for card in soup.select("div.job-search-card"):
                title = card.select("h3", recursive=False)[0].get_text().strip()
                company = card.select("h4", recursive=False)[0].get_text().strip()
                location = card.select("span.job-search-card__location")[0].get_text().strip()
                titles.append(title)
                companies.append(company)
                locations.append(location)
                
                currentjobid = card["data-entity-urn"].split(":")[-1]
                job_url = ''.join(["https://www.linkedin.com/jobs/view/", currentjobid])
                page = requests.get(job_url)
                soup = BeautifulSoup(page.text, 'html.parser')
                seniority = soup.select("li.description__job-criteria-item h3")[0].parent.select("span")[0].get_text().strip()
                
                records.append({
                    "Title": title,
                    "Company": company,
                    "Location": location,
                    "Seniority level":seniority
                })
        except:
            break
            
        
        # Return dataframe
    return pd.DataFrame(records, columns=["Title", "Company", "Location", "Seniority level"])

In [117]:
results = scrape_linkedin_job_search('data%20analysis', 2, "Germany", 2)
results

,Title,Company,Location,Seniority level
0,Equity Research,Institute of Finance and Economics (IFE),Germany,Internship
1,"Product Analyst - (Logistics, Customer)",Delivery Hero,"Berlin, Berlin, Germany",Mid-Senior level
2,Strategic researcher (m/f/d),Omio,"Berlin, Berlin, Germany",Internship
3,Equity Research Intern,Institute of Finance and Economics (IFE),Germany,Internship
4,Marketing Data Analyst (m/f/d),Pflegia,"Berlin, Berlin, Germany",Associate
...,...,...,...,...
109,AI Innovator,CEF.AI,"Munich, Bavaria, Germany",Associate
110,Praktikum Strategy und M&A (m/w/d),Flip,"Stuttgart, Baden-Württemberg, Germany",Not Applicable
111,Prozessingenieur (all gender),ALTEN Germany,Greater Munich Metropolitan Area,Associate
112,Senior Research Engineer,DeepRec.ai,Greater Munich Metropolitan Area,Mid-Senior level
113,Data Engineer - Entry-Level (all genders),Chrono24,"Karlsruhe, Baden-Württemberg, Germany",Entry level